<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^biografia$ /biografia.html [L]
  RewriteRule ^galeria$ /galeria.html [L]
  RewriteRule ^galeria/paisajes$ /galeria/paisajes.html [L]
  RewriteRule ^galeria/personas$ /galeria/personas.html [L]
  RewriteRule ^galeria/animales$ /galeria/animales.html [L]
  RewriteRule ^blog$ /blog.html [L]
  RewriteRule ^login$ /login.html [L]
  RewriteRule ^panel-de-administracion/resumen$ panel-de-administracion/resumen.html [L]
  RewriteRule ^panel-de-administracion/inicio$ /panel-de-administracion/inicio.html [L]
</IfModule>