@use 'variables' as *;

@mixin ellipsis($lines: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
}

@mixin ellipsis-link ($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@mixin fadeIn {
  @keyframes fade-in {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
}

@mixin fadeOut {
  @keyframes fade-out {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
}

@mixin rotacion {
  @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
}

@mixin animacionBoton {
  div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 1.2rem 0 $verde-sombra;
    @media (min-width: 992px) {
      font-size: 0.8rem;
      line-height: 0.8rem;
      text-shadow: 0 .8rem 0 $verde-sombra;
    }
    span {
      display: block;
      backface-visibility: hidden;
      transition: transform 0.18s ease;
      transform: translateY(0) translateZ(0);
    }
  }
}

@mixin animacionBotonHover {
  transform: translateY(-0.8rem) translateZ(0);
}