.carousel {
  position: relative;
  margin-top: -68px;
  min-height: fit-content;
  z-index: 2000;
  left: 0;
  top: 0;

  .carousel-contenido {
    width: 100vw !important;
    aspect-ratio: 16/9 !important;
    display: block;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9 !important;
      object-fit: cover;
      display: block;
      position: inherit !important;
    }
  }
}
