@use "../variables" as *;
@use "../mixins" as *;

.fecha-post {
  display: block;
  font-size: 0.8rem;
  color: $blanco-50;
  margin-bottom: 8px;
}

a.link-blog {
  display: block;

  &:hover {
    h3 {
      opacity: 1;
    }

    p {
      color: $blanco;
    }
  }

  h3 {
    transition: all 0.3s ease;
    opacity: 0.7;
  }

  p {
    transition: all 0.3s ease;
  }
}

.post-lista-item-inicio {
  margin-bottom: 42px;
  .imagen-lista {
    border-radius: 6px;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/7;
    margin-bottom: 16px;
  }

  p {
    margin-right: 12px;
    @include ellipsis;
  }
}

.post-lista {
  h1 {
    padding-bottom: 36px;
    @media (min-width: $md) {
      padding-bottom: 66px;
    }
  }

  .post-lista-item {
    margin-bottom: 42px;
    .imagen-lista {
      border-radius: 6px;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 16/7;
      margin-bottom: 16px;
    }

    p {
      margin-right: 12px;
      @include ellipsis;
    }
  }
}

.post-detalle {
  position: relative;
  .post-header {
    position: relative;
    margin-bottom: 32px;

    .post-header-datos {
      position: absolute;
      bottom: 0;
      background-color: rgb($negro, 0.5);
      width: 100%;
      padding: 12px 16px 16px 16px;
      border-radius: 0 0 8px 8px;
      padding-left: 24px;
    }

    .imagen-detalle-post {
      aspect-ratio: 1/1 !important;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      @media (min-width: $md) {
        aspect-ratio: 16/6 !important;
      }
    }

    h2 {
      padding: 0;
      text-align: left;
      line-height: 1.5rem;
      letter-spacing: inherit;
      @media (min-width: $md) {
        line-height: inherit;
      }
    }

    .post-header-volver {
      width: 42px;
      height: 42px;
      position: absolute;
      z-index: 1000;
      top: 24px;
      left: 24px;
      .icono {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath fill='%235F6368' fill-rule='nonzero' d='m2.873 8.25 5.696 5.696L7.5 15 0 7.5 7.5 0l1.069 1.054L2.873 6.75H15v1.5z'/%3E%3C/svg%3E");
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
        width: 42px;
        height: 42px;
        display: block;
        border-radius: 6px;
        transition: all 0.3s ease;
        background-color: rgb($blanco, 0.7);
      }
    }
  }

  .post-body {
    margin-bottom: 42px;
  }
}

.post-nav {
  display: none;
  @media (min-width: $md) {
    display: inherit;
    display: flex;
    justify-content: space-between;
  }

  .contenedor-post-anterior,
  .contenedor-post-siguiente {
    width: 100%;
    a {
      display: block;
      width: 100%;
      margin: 0;
    }

    .fecha-post-anterior,
    .fecha-post-siguiente {
      color: $blanco;
      font-size: 0.8rem;
      margin-top: 8px;
      opacity: 0.5;
      transition: all 0.2s ease-in;
    }

    p {
      color: $verde;
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: 0;
      font-weight: 200;
      opacity: 0.5;
      transition: all 0.2s ease-in;
      @include ellipsis-link(2);
    }

    .post-anterior {
      width: 100%;
      display: flex;
      border-right: 1px solid rgba($blanco, 0.13);

      img {
        border-radius: 6px 0 0 6px;
        width: 102px;
        height: 102px;
        object-fit: cover;
        aspect-ratio: 1/1;
        filter: grayscale(100%);
        transition: all 0.2s ease-in;
        margin-right: 24px;
      }

      .info {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 24px;
      }
    }

    .post-siguiente {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      img {
        border-radius: 0 6px 6px 0;
        width: 102px;
        height: 102px;
        object-fit: cover;
        aspect-ratio: 1/1;
        display: block;
        filter: grayscale(100%);
        transition: all 0.2s ease-in;
        margin-left: 24px;
      }

      .info {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 24px;
      }
    }
  }
}
